.user {
    padding: 1.2em 0;
    border-bottom: 1px solid var(--color-search-btn);
    margin: 0 auto;
}

.user:last-child {
    border-bottom: none;
}

.user__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 2.5em; 
}

.user__img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    max-width: 25%;
}

.user__img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    
}

.user__name {
    margin: reset;
    cursor: pointer;
}

.user__btn {
    border: unset;
    border: 2px solid #FFF;
    font-size: 0.9rem;
    background: none;
    color: #FFF;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    margin-top: 1em;
    cursor: pointer;
}

.user__btn:hover, .user__btn:focus {
    border-color: var(--color-search-btn);
}

.user__name-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-text-accent);
}

.user__name-link:hover, .user__name-link:focus {
    color: var(--color-search-btn);
}

.user__more-info {
    margin-top: 1.2em;
}

.user__profile-name {
    font-size: 1.2em;
}

.user__stats {
    display: flex;
    gap: 1.5em;
    margin-top: 1em;
}

.user__stat {
    color: var(--color-search-btn);
}