.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.2em 1.4em;
  /* border: 1px solid red; */
}

/* Custom ReactPaginate component Styling */
.pagination {
  display: flex;
  list-style: none;
}

.pagination__page {
  padding: 1em;
}