.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.2em 1.4em;
  /* border: 1px solid red; */
}

/* Custom ReactPaginate component Styling */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 2.5em;
}

.pagination__page, .pagination__link, .page-break {
  display: inline-block;
  padding: 0.6em 0.8em;
  cursor: pointer;
}

.pagination__page:hover,
.pagination__page:focus,
.pagination__link:hover, 
.pagination__link:focus,
.page-break:hover
.page-break:focus {
  color: var(--color-search-btn);
}

.pagination__link--active {
  background: #3F1C69;
}

.pagination__link--disabled {
  color: #848383;
}